*{
    margin: 0;
    padding: 0;
}
a:hover{
    cursor: pointer;
}
body{
    color:white;
    background-color: #2f2f35;
}
#main{
    width: 350px;

    margin-left: 300px;
}
button{
    height:25px;
    line-height: 25px;
    font-size: 12px;
    border-radius: 2px;
    color: white;
    border: none;
    background-color: red;
    box-shadow: 1px 1px 1px 1px rgba(47, 59, 226, 0.19);
}
#null{
    width: 300px;
    height: 100px;
    border-radius: 2px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    float: left;
}
#all{
    width: 150px;
    margin-bottom: 30px;
}
#big{
    width: 250px;

    position: relative;
    float: left;
}
.little{
    float: left;
    width: 250px;
    margin-top: 15px;

}

.little button{
    width: 70px;

    float: right;
}

.newDiv{
    font-size: 12px;
    background-color: green;
    padding: 5px;
    float: left;
    border-radius: 2px;
  margin-left: 10px;
    margin-top: 5px;


}