* {
    padding: 0;
    margin: 0;
}

.main {
    width: 449px;
    height: 400px;
    /*background-color: #45b284;*/
    float: left;
    color: white;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 1px;
    position: relative;
    -webkit-transition: all .3s linear;

}

.main h3 {
    font-size: 32px;
    font-weight: 400;
    -webkit-transition: all .3s linear;
}

.main h3 span {
    font-weight: bold;
}

.main1 {
    background: url("img/1.jpg") no-repeat -20px 0;

}

.main1 h3 {
    margin-top: 260px;
    margin-left: 50px;
}

.main1 p {
    margin-top: 50px;
    margin-left: 50px;
    opacity: 0;
    -webkit-transition: all .3s linear;
}

.main1:hover h3 {
    margin-top: 240px;
}

.main1:hover p {
    opacity: 1;
    margin-top: 0px;
}

.main1:hover {
    background-position: 0;
}

#color1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 449px;
    height: 400px;
    background-color: rgba(122, 122, 122, .5);
    -webkit-transition: all .3s linear;
}

.main1:hover #color1 {
    background-color: rgba(122, 122, 122, 0);
}

.main2 {
    background: url("img/2.jpg");
}

.main2 h3 {
    color: #4E4E4E;
    margin-top: 40%;
    margin-left: 30%;
}

.main2 p {
    margin-left: 5%;
    margin-top: 30%;
    text-align: center;
    opacity: 0;
}

.main2:hover h3 {
    margin-top: 35%;
    color: white;
}

.main2:hover p {
    opacity: 1;
    margin-top: 32%;
}

.main3 {
    background: url("img/3.jpg");
}

.white {
    position: absolute;
    top: 400px;
    left: 0;
    width: 449px;
    height: 20px;
    background-color: white;
    -webkit-transition: all .3s linear;
}

.main3:hover .white {
    position: absolute;
    top: 380px;
}

.main3 h3 {
    margin-left: 40px;
    margin-top: 280px;
}

.main3:hover h3 {
    margin-top: 310px;
}

.main3 a {
    text-decoration: none;
    color: white;
    opacity: 0;
    -webkit-transition: all .3s linear;
}

.main3:hover a {
    opacity: 1;
}

.color2 {
    width: 449px;
    height: 380px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(122, 122, 122, 0);
    -webkit-transition: all .3s linear;
}

.main3:hover .color2 {
    background-color: rgba(122, 122, 122, 0.3);
}

.main4 {
    background: url("img/4.jpg") no-repeat 0 -20px;
    background-size: 150%;
}

.main4:hover {
    background-position: 0 0px;
}

.main4 h3 {
    margin-top: 120px;
    margin-left: 100px;
    -webkit-transition: all .3s linear;
}

.main4:hover h3 {
    margin-top: 140px;
}

.main4 p {
    text-transform: capitalize;
    margin: 20px 55px;
    text-align: center;
    opacity: 0;
    -webkit-transition: all .3s linear;
}

.main4:hover p {
    opacity: 1;

}

.color4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 449px;
    height: 400px;
    background: rgba(0, 128, 0, .2);
    -webkit-transition: all .3s linear;
}

.main4:hover .color4 {
    background: rgba(0, 128, 0, .3);
}

.hengxian {
    position: absolute;
    top: 50px;
    left: 20px;
    width: 400px;
    height: 300px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    opacity: 0;
    -webkit-transition: all .3s linear;
}

.suxian {
    position: absolute;
    left: 50px;
    top: 30px;
    width: 350px;
    height: 0px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    -webkit-transition: all .3s linear;
}

.main4:hover .hengxian {
    opacity: 1;
}

.main4:hover .suxian {
    height: 350px;
}

.main5 {
    background: url("img/5.jpg");
}

.main5 p {
    text-transform: capitalize;
    text-align: center;
    margin: 240px 50px;
    opacity: 0;
    -webkit-transition: all .3s linear;
}

.main5:hover p {
    opacity: 1;
    margin-top: 180px;
}

.white5 {
    position: absolute;
    top: 400px;
    left: 0;
    width: 449px;
    height: 80px;
    line-height: 80px;
    background-color: white;
    -webkit-transition: all .3s linear;
}

.white5 h3 {
    color: #4E4E4E;
    margin-left: 30px;
}

.main5:hover .white5 {
    top: 320px;
}

.main6 {
    background: url("img/6.jpg");
}

.main6 h3 {
    margin: 150px 100px;
    -webkit-transition: all .3s linear;
}

.main6:hover h3 {
    margin-top: 130px;
}

.main6 p {
    position: absolute;
    top: 200px;
    left: 200px;
    text-align: center;
    -webkit-transition: all .3s linear;
    letter-spacing: 0;
    height: 45px;
    width: 0px;
    overflow: hidden;
}

.main6:hover p {
    width: 350px;
    left: 50px;
}

.color6 {
    position: absolute;
    top: 200px;
    left: 200px;
    width: 0;
    height: 0;

    -webkit-transition: all .3s linear;
}

.main6:hover .color6 {
    top: 30px;
    left: 30px;
    width: 380px;
    height: 340px;
    border: 1px solid white;
}

.white6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 449px;
    height: 400px;
    background-color: rgba(0, 0, 0, .3);
    -webkit-transition: all .3s linear;

}

.main6:hover .white6 {
    background-color: rgba(131, 59, 59, .3);
}

.main7 {
    background: url("img/7.jpg");
}

.main8 {
    background: url("img/8.jpg") no-repeat;
    background-size: 160%;
    -webkit-transition: all .3s linear;
}

.main8 h3 {
    margin-top: 150px;
    margin-left: 80px;
}

.main8:hover h3 {
    margin-top: 130px;
}

.main8 p {
    width: 340px;
    padding: 20px;
    height: 60px;
    margin-left: 40px;
    margin-top: 20px;
    border: 1px solid white;
    text-align: center;
    opacity: 0;
    -webkit-transition: all .3s linear;
}

.main8:hover p {
    width: 320px;
    height: 40px;
    margin-left: 50px;
    opacity: 1;
    margin-top: 10px;

}

.main8:hover {
    background-size: 150%;
}

.main9 {
    background: url("img/9.jpg") no-repeat -20px 0;
    -webkit-transition: all .3s linear;
}

.main9:hover {
    background-position: 0 0;
}

.main9 h3 {
    margin-top: 130px;
    margin-left: 60px;
}

.color9 {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 390px;
    height: 340px;
    border: 1px solid white;
    opacity: 0;
    -webkit-transition: all .3s linear;
}

.color9 p {
    margin-top: 150px;
    margin-left: 30px;
}

.main9:hover .color9 {
    opacity: 1;
    left: 30px;
}

.main10 {
    background: url("img/10.jpg");
}

.main10 h3 {
    margin-top: 120px;
    margin-left: 100px;
    -webkit-transition: all .2s linear;
}

.main10:hover h3 {
    margin-top: 140px;
}

.color10 {
    position: absolute;
    top: 50px;
    left: 50%;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    width: 1px;
    height: 300px;
    -webkit-transition: all .2s linear;
}

.color11 {
    position: absolute;
    top: 50%;
    left: 25px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: 399px;
    height: 1px;
    -webkit-transition: all .2s linear;
}

.main10:hover .color10 {
    transform: scaleX(400);
}

.main10:hover .color11 {
    transform: scaleY(300);
}
.main10 p{
    margin-top: 50px;
    margin-left: 30px;
    opacity: 0;
    -webkit-transition: all .2s linear;
}
.main10:hover p{
    opacity: 1;
    margin-top: 10px;
}


.main11 {
    background: url("img/11.jpg") no-repeat;
    background-size: 180%;

}
.main11:hover{
    background-size: 160%;
}

.xian1,.xian2{
    position: absolute;
    top: 200px;
    left: 50px;
    width: 350px;
    border-bottom: 1px solid white;
    -webkit-transition: all .3s linear;
}
.main11:hover .xian1{
    -webkit-transform: rotate(45deg);
}

.main11:hover .xian2{
    -webkit-transform: rotate(-45deg);
}
.main11 h3{
    margin-top: 110px;
    margin-left: 100px;
    -webkit-transition: all .3s linear;
}
.main11:hover h3{
    margin-top: 130px;
}
.main11 p{
    margin-top: 100px;
    margin-left: 30px;
    text-align: center;
   word-spacing: 0px;
    letter-spacing: 0;
    -webkit-transition: all .3s linear;
}

.main11:hover p{
    margin-top: 50px;
}
.main12 {
    background: url("img/12.jpg");
}

.main13 {
    background: url("img/13.jpg") no-repeat -10px 0;
}

.main13:hover{
    background-position: 0 0;
}

.main13 h3{
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 10;
}

.color12{
    position: absolute;
    top: 100px;
    left: 50px;
    -webkit-transition: all .3s linear;
    width: 0;;
    border-bottom: 3px solid white;
    z-index: 10;
}

.main13:hover .color12{
    width: 350px;
}

.green{
    width: 449px;
    height: 440px;
    position: absolute;
    left: 0;
    top:0;
    background-color: rgba(0,128,0,.1);
    -webkit-transition: all .3s linear;
}
.main13:hover .green{
    background-color: rgba(0,128,0,.3);
}

.main13 p{
    position: absolute;
    left: 350px;
    top: 120px;
    width: 350px;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all .3s linear;
}
.main13:hover p{
    opacity: 1;
    left: 50px;
}

.main14 {
    background: url("img/14.jpg") no-repeat;
    background-size: 170%;
}

.main14:hover{
    background-size: 150%;
}

.main14 h3{
    position: absolute;
    top: 120px;
    left: 120px;
    z-index: 10;
}
.color14{
    position: absolute;
    top:0;
    left: 0;
    width: 449px;
    height: 400px;
    /*color: deepskyblue;*/
    background-color: rgba(0,191,225,.1);
    -webkit-transition: all .3s linear;
}
.main14:hover .color14{
    background-color: rgba(0,191,225,.3);
}

.white14{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 380px;
    height: 340px;
    border: 1px solid white;
    -webkit-transition: all .3s linear;
    opacity: 0;
}

.white14 p{
    margin-top: 150px;
    margin-left: 30px;
    -webkit-transition: all .3s linear;
}
.main14:hover .white14{
    -webkit-transform: scale(.9);
    opacity: 1;
}

.main14:hover .white14 p{
    -webkit-transform: scale(.9);
}
.main15 {
    background: url("img/15.jpg") no-repeat;
    background-size: 160%;
    -webkit-transition: all .3s linear;
}

.main15:hover{
    background-size: 150%;
}
.color15{
    position: absolute;
    top:0;
    left: 0;
    width: 449px;
    height: 400px;
    background-color: rgba(255,255,255,.1);
    -webkit-transition: all .3s linear;
}
.main15:hover .color15{
    background-color: rgba(255,255,255,.3);
}
.main15 h3{
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.main15 p{
    position: absolute;
    top: 50px;
    left: -50px;
    z-index: 10;
    text-align: right;
    padding-right: 10px;
    width: 200px;
    height: 100px;
    border-right: 1px solid white;
    opacity: 0;
    -webkit-transition: all .3s linear;
}

.main15:hover p{
    opacity: 1;
    left: 30px;
}