*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
.left{
    float: left;
    position: relative;
    /*border: 1px solid red;*/
}
.right{
    float: right;
    position: relative;
    /*border: 1px solid red;*/
}
#one{
    width: 900px;
    height: 520px;
    background-color: rgb(234,234,226);
}
#one>img{
    width: 470px;
    height: 469px;
    margin-right: 30px;
    margin-top: 40px;
    float: right;
}
.color{
    position: absolute;
    left: 150px;
    top: 50px;
    /*border: 1px solid red;*/
    width: 171px;
    height: 300px;
    text-align: center;
}

.color>img{
    width: 171px;
    height: 274px;
}
@font-face {
    src: url("tubiao/iconfont.woff");
    font-family: myfont;
}
.color p span{
    font-family: myfont;
    color: rgb(122,206,195);
    font-size: 32px;
margin-left: 5px;
}

#two{

    width: 449px;
    height: 520px;
}
#two img{
    width: 449px;
    height: 520px;
}
.white{
    position: absolute;
    left: 150px;
    top: 50px;
    color: white;
    width: 120px;
    height: 120px;
    border: 3px solid white;
}
.white>div{
    margin-top: 50px;
    margin-left: 35px;
}

.white>div>div{
    width: 50px;
    border-bottom: 3px solid white;
    margin-top: 5px;
}
#two ul{
    position: absolute;
    top: 200px;
    left: 40px;
    width: 300px;
    height: 300px;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    /*border: 1px solid red;*/
}
#two ul li{
    line-height: 22px;
    font-family: 'Roboto Condensed', sans-serif;

}
#two ul li.hou{
    margin-top: 80px;
    margin-left: 100px;
}
#two ul li.hou2{
    margin-left: 100px;
}
#three{
    width: 449px;
    height: 520px;
}
#three img{
    width: 449px;
    height: 520px;
}
.xian{
    position: absolute;
    top: 265px;
    left: -130px;
    width: 700px;
    border-bottom: 1px solid white;
    -webkit-transform: rotate(-49deg);
}
#three ul{
    position: absolute;
    top: 150px;
    left: 100px;
    color: white;
    text-transform: uppercase;
}
#three p{
    position: absolute;
    top: 300px;
    left: 180px;
    text-transform: uppercase;
    color: white;
    font-size: 35px;
letter-spacing: 2px;
}
#four{
    height: 520px;
    width: 450px;
}
#four>img{
    height: 520px;
    float: right;
    /*width: 541px;*/
}
.color2{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 280px;
    height: 420px;
    text-transform: uppercase;
    font-size: 14px;
    /*border: 1px solid red;*/
}
.color2 h3{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 30px;
}
.color2 ul li{
    line-height: 26px;
    font-size: 12px;
}
.color2>div{
    text-transform: uppercase;
    margin-top: 80px;
}
.color2 p{
    font-family: myfont;
    margin-top: 50px;
    margin-left: 80px;
}
.color2 p span{
    color: deeppink;
    margin-left: -15px;
}
#five{
    width: 449px;
    height: 301px;
    background-color: rgb(223,224,218);
}
#five img{
    float: right;
}
.color2 p.text{
    margin-top: 10px;
}
.color3{
    width: 150px;

    top: 20px;
    left: 30px;
    text-transform: uppercase;
}
.color3 ul li{
    font-size: 12px;
    line-height: 20px;
}
.color3>div{
    margin-top: 30px;
    /*border: 1px solid red;*/
}
.color3>div>img{
    position: absolute;
    left: 0;
    top: 190px;
}
.color3>div>span{
    margin-left: 30px;
}


#eight{
    width: 449px;
    height: 482px;
}
#eight>img{
    width: 449px;
    height: 482px;
}
.color4{
    width: 350px;
    height: 150px;
    /*border: 1px solid red;*/
    top: 330px;
}
.color4>h3{
    float: left;
}
.color4>ul{
    clear: both;
}
.color4>div{
    position: absolute;
    right: 10px;
    bottom: 120px;
}
.color4>p{
    position: absolute;
    right: 60px;
    bottom: 50px;
}
#six{
    width: 300px;
    height: 520px;
}
#six>img{
    width: 300px;
    height: 520px;
}
.color5{
    color: white;
    left: 10px;
    top: 50px;
}
.color5>ul>li{
    font-size: 12px;
}
.color5>div{
    margin-top: 40px;
}

.color5>p{
    margin-top: 30px;
    margin-left: 50px;
}

#seven{
    width: 599px;
    height: 520px;
}
#seven>img{
    width: 599px;
    height: 520px;
}

.color6{
    top: 80px;
    left: 240px;
}
#nine{
    width: 449px;
    height: 280px;
    overflow: hidden;
}
#nine>img{
    width: 449px;
    height: 280px;
}
.color7{
    top: 10px;
  left: 240px;

}

.color7>div,.color7>p{
    margin-top: 30px;
}






#new1{
    width: 600px;
    height: 300px;
}
#new1>img{
    width: 600px;
    height: 300px;
}
#new1 .color2.color4.color6{
    top: 200px;
    left: 120px;
    font-size: 12px;
}
#new1 .color2.color4.color6>ul>li{
    line-height: 20px;
}
#new1 .color2.color4.color6>h3{
    margin-bottom: 5px;
}
#new2{
    width: 300px;
    height: 300px;
}
#new2>img{
    width: 300px;
    height: 300px;
}
.color8{
    top: 60px;
    left: 140px;
}
.color8>ul>li{
    line-height: 18px;
}

.color8>div,.color8>p{
    margin-top: 20px;
}




#new3{
    width: 449px;
    height: 300px;
}
#new3 img{
    width: 449px;
    height: 300px;
}
#xian2{
    width: 420px;
    border-bottom: 1px solid white;
    position: absolute;
    top: 150px;
    left: -60px;
    -webkit-transform: rotate(-45deg);
}
.date{
    position: absolute;
    top: 40px;
    left: 80px;

}

.date>h3{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
}
.date>ul>li{
    color: white;
    font-size: 12px;
}



#new4{
    width: 449px;
    height: 561px;
    margin-top: 23px;
}
#new4 img{
    width: 449px;
    height: 561px;
}
#new4>h3{
    position: absolute;
    top: 300px;
    right: 80px;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 400;
    color: white;
}
#new5{
    width: 700px;
    height: 361px;
    background-color: rgb(233,234,226);
    padding: 100px;
}
.new5-left{
    float: left;
    width: 330px;
    font-size: 14px;
    line-height: 24px;
}
.new5-right{
    float: left;
    margin-left: 50px;
    width: 300px;
}
.new5-right>div>img{
    width: 293px;
    height: 199px;

}
.new5-right h3{
    font-size: 22px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
}
.new5-right>ul>li{
    float: left;

    /*margin-left: 30px;*/
}
.hr{
    width: 300px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(122,122,122,.1)
}







#gray{
    width: 1249px;
    height: 378px;
    padding: 50px 0 0 100px;
    background-color: #E9EAE2;
    /*float: left;*/
}
#gray>ul>li{
    float: left;
    width: 223px;
    height: 470px;
    margin-left: 40px;
    margin-top: 50px;
}
.specil>p{
    font-size: 14px;
    margin-top: 20px;
    line-height: 15px;
}
#gray>ul>li h3{
    font-size: 18px;
    font-weight: 400;
}
#gray>ul>li>div>img{
    width: 223px;
    height: 120px;
}
.g-lef{
    float: left;
    margin-top: 20px;
}
.g-lef span{
    color: orange;
}
.g-right{
    margin-top: 20px;
    float: right;
    font-size: 16px;

    /*color: orange;*/
}
.g-right span{
    font-family: myfont;
    color: orange;
}


#new6{
    width: 449px;
    height: 560px;
    /*overflow: hidden;*/
}
#new6 img{
    width: 449px;
    height: 560px;
    /*overflow: hidden;*/
}
#new6 h3{
    position: absolute;
    top: 300px;
    left: 250px;
    font-size: 36px;
    font-weight: 400;
    color: white;
}
#new7{
    width: 820px;
    height: 510px;
    background-color: rgb(229,233,223);
padding: 50px 0 0 80px;
}
#new7>ul>li{
    width: 300px;
    float: left;
    margin-left: 40px;
}
#new7>ul>li>div>img{
    width: 300px;
    height: 147px;
}
#new7>ul>li>h3{
    font-size: 18px;
    text-transform: uppercase;
}
#new7>ul>li>p{
    font-size: 14px;
    color: gray;
    margin-top: 10px;
    line-height: 26px;
}
#new7>ul>li>div{
    text-align: right;
    color: orange;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 15px;
}
.map{
    float: left;
    width: 679px;
    height: 550px;
}
.map img{
    width: 679px;
    height: 550px;
}
.f-right{
    height: 350px;
    width: 470px;
    background-color: rgb(233,234,226);
    padding: 100px;
    float: right;
    font-size: 14px;
}
.f-right .fcolor>ul{
    float: left;
    /*border: 1px solid red;*/
}
.fcolor>div{
    float: right;
}

.fcolor>p{
    float: left;
    margin-top: 350px;
    margin-left: -180px;

}
.fcolor>div>p>span{
    font-family: myfont;
    color: rgb(122,206,195);
    font-size: 32px;
    margin-left: 5px;
}














