*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
@font-face {
    src:url("iconfont.woff");
    font-family: myfont;
}
ul li{
    list-style: none;
}
.banner{
    width: 1349px;
    height: 585px;
    background: url("img/17.jpg") no-repeat;
}
.banner>div{
    width: 260px;
    height: 70px;
    background-color: rgba(255,255,255,.5);
    padding: 35px 50px;
    margin: 0 auto;
    -webkit-transition: all .2s linear;
}
.banner>div:hover{
    background-color: rgba(255,255,255,1);
}
.banner>div>img{
    box-sizing: content-box;
    display: block;
    width: 260px;
    height: 70px;
}
.menu{
    width: 1249px;
    height: 125px;
    padding-left: 100px;
    text-align: center;
    float: left;
}
.menu>li{
    position: relative;
    padding: 56px 12px;
    float: left;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.menu>li:hover{
    overflow: visible;
}
.menu>li>a{
    color: #888;
    text-transform: uppercase;
}
.menu>li a.num{
    color: #2e91b3;
    font-size: 32px;
    display: block;
    margin-top: -13px;
}

.childmenu{
    position: absolute;
    left: -20%;
    bottom: 133px;
    -webkit-transform: rotate(180deg);
}
.childmenu>li{
    width: 250px;
    height: 40px;
    text-align: center;
    color: white;
    background-color: #2e91b3;
    font:300 14px/40px Roboto,arial;
    -webkit-transform: rotate(180deg);
}
.childmenu>li:hover{
    color: #2e91b3;
    background-color: white;
    cursor: pointer;
}

#logo{
    position: absolute;
    top:0;
    left: 0px;
    margin-left: 1009px;
    opacity: 0;
    height: 130px;
    width: 340px;
    float: left;
    -webkit-transition: all linear .3s;
    /*border: 1px solid red ;*/

}
.logo-left{
    width: 210px;
    height: 57px;
    padding: 37px 25px;
    background-color: white;
    float: left;
}
.logo-left img{
    width: 210px;
    height: 57px;
}
.logo-right{
    width: 80px;
    height: 133px;
    background-color:#2e91b3;
    float: left;
}
#xuanzhuan{
    width: 40px;
    height: 45px;
    margin-top: 40px;
    margin-left: 20px;
    /*border: 1px solid red;*/
    overflow: hidden;
}
#xuanzhuan>div{
    width: 40px;
    border-bottom: 2px solid white;
    margin-top: 10px;
    -webkit-transition: all linear .1s;
}
#xuanzhuan:hover div:nth-of-type(1){
    -webkit-transform: rotate(90deg);
}
#xuanzhuan:hover div:nth-of-type(3){
    -webkit-transform: rotate(-90deg);
}
nav{
    width: 1349px;
    height: 133px;
    position: relative;
    background-color: white;
    /*border: 1px solid red;*/
    -webkit-transition: all linear .3s;
}
.allmenu{
    width: 1349px;
    height: 133px;
    /*border: 1px solid red;*/
    /*overflow: hidden;*/
}

#bg1{
    position: relative;
    width: 1349px;
    height: 1140px;
    background: url("img/apartments-bg.jpg") no-repeat 0 350px;
    margin-bottom: 70px;
}

.main{
    width: 1349px;
    height: 486px;
}
.lside{
    width: 486px;
    height: 486px;
    background: url("img/1.jpg") no-repeat;
    margin-left: 60px;
    float: left;
}
.rside{
    width: 728px;
    height: 486px;
    float: left;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-transition: all .6s linear;
}
.r-main{
    width: 1456px;
    height: 486px;

}
.r-main-text{
    float: left;
    position: relative;
    width: 728px;
    height: 486px;
    -webkit-transition: all linear .3s;
}
.r-main-text img{
    width: 728px;
    height: 486px;
    position: relative;
    z-index: -1;

}
.page{
    position: absolute;
    top: 40px;;
    right: 100px;
    width: 440px;
    text-align: right;
    color: white;
    -webkit-transition: all linear .2s;
}
.rside:hover .page{
    top: 50px;
    right: 120px;
}
.text{
    font-size: 24px;
}
.price{
    font-size: 100px;
}
.r-main-text:before{
    content: "";
    width: 728px;
    height: 486px;
    background-color:rgba(46,145,179,.5) ;
    position: absolute;
    top:0;
    left: 0;
    cursor: pointer;
    -webkit-transition: all .3s linear;
}
.control{
    width: 828px;
    color: white;
    position: absolute;
    top: 250px;
    left: -50px;
    font-size: 45px;
    -webkit-transition: all .3s linear;
}
.rside:hover .control{
    width: 678px;
    left: 25px;
}
#prev{
    float: left;
    cursor: pointer;
}
#next{
    float: right;
    cursor: pointer;
}
.tags a{
    display: inline-block;
    background-color: rgba(46,145,179,1) ;
    color: white;
    padding: 5px ;
    letter-spacing: 1px;
}
.tags{
    position: absolute;
    bottom: 22px;
    right: 35px;
}
#main2{
    width: 1079px;
    height: 615px;
    background: url("img/5.jpg") no-repeat;
    margin-top: 90px;
    overflow: hidden;
    -webkit-transition: all linear .3s;
}
#prev2,#next2{
    font-family: myfont;
    color: white;
    font-size: 44px;
    margin-left: 5px;
}
#control1{
margin: 430px 0 22px 820px;
}
#mybtn{
    width: 240px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    color: grey;
    background-color: white;
    padding: 10px;
    margin-left: 740px;
}
#text{
    padding: 0 80px;
}
#text h1{
    font-size: 62px;
    font-weight: 400;
    color: #2e91b3;
}
.word1{
    font:100 24px/34px Roboto,arial;
    color: #888;
   margin: 30px 0;
}
.word2{
   font: 300 16px/26px Roboto,arial;
    color: #888;
    margin-bottom: 80px;
}
#main3{
    width: 1349px;
    height: 540px;
    background: url("img/12.jpg") no-repeat;
    overflow: hidden;
    margin-bottom: 200px;
}
#main3 p{
    width: 340px;
    height: 292px;
    text-align: center;
    padding: 80px 30px;
    font:100 50px/70px Roboto,arial;
    color: #2e91b3;
    background-color: rgba(255,255,255,.8);
    margin: 60px 0 0 60px;
}
.riside2{
    margin-left: 80px;
}
.lside2{
    margin-left: 0;
}
.menu .book{
    font-size: 16px;
    padding: 10px;
    color: white;
    background-color: #2e91b3;
    margin-top: 45px;
    margin-left: 20px;
}
.menu2{
    border-top: 1px solid rgba(169,169,169,.3);
    border-bottom: 1px solid rgba(169,169,169,.3);
}
@font-face {
    src:url("download/font_a7w5te42o9lik9/iconfont.woff");
    font-family: myfonta;
}
.link.icon2 span{
    font-family: myfonta;
    color: #2e91b3;
    font-size: 32px;
    margin-left: 40px;
    -webkit-transition: all linear .2s;
}
.link.icon2 span:hover{
    color: rgba(46,145,179,.6);
}
.link.icon2{
    display: inline-block;
    width: 400px;
    height: 50px;
    margin-left: 60px;
    margin-top: -20px;
}
.menu .numa{
    width: 220px;
    height: 20px;
    padding: 40px 0;
    float: right;
    margin-left: 130px;
    margin-top: -50px;
    font-size: 18px;
}
.adr{
    height: 100px;
    line-height: 100px;
    padding: 0 100px;
    color: #a3a3a2;
    clear: both;
}
.imgshare{
    width: 1349px;
    margin-top: 80px;
}
.imgshare li{
    list-style: none;
    float: left;
    width: 224px;
    position: relative;
}
.imgshare li>img{
    width: 224px;
}
.baise{
    position: absolute;
    right: 0;
    bottom: 4px;
    width: 94px;
    height: 43px;
    line-height: 43px;
    color: #7F7F90;
    background-color: rgba(255,255,255,.8);
    overflow: hidden;
    -webkit-transition: all linear .2s;
}
.baise img{
    vertical-align: top;
    -webkit-transition: all linear .2s;
}
.baise span{
    font-size: 24px;
    font-weight: 100;
    margin-left: 5px;
}
.baise:hover{
    color: white;
    background-color: rgba(127,127,127,.8);
}
.baise:hover img{
    margin-top: -37px;
}