*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
header{
    width: 1349px;
    height: 650px;
    background: url("mjauimg/b2.jpg") no-repeat;
    background-size: 100%;
    /*-webkit-animation: mymove 5s linear 2s infinite;*/
}

















