*{
    padding: 0;
    margin: 0;
}
@font-face {
    src: url("tubiao/iconfont.woff");
    font-family: myfont;
}
.main{
    width: 322px;
    height: 322px;
    margin-top: 100px;
    margin-left: 80px;
    /*border: 1px solid red;*/
    float: left;
    text-transform: uppercase;
    position: relative;
    color: white;
}
.main1{
    background: url("images/480_yugao.jpg") no-repeat;
    background-size: 100%;
}
.color{
   position: absolute;
    top:0;
    left: 0;
    width: 322px;
    height: 322px;
    background-color: rgba(0,0,0,.5);
    -webkit-transition: all .3s linear;
}

.main1 .word{
    position: absolute;
    top: 80px;
    left: 40px;
    -webkit-transition: all .3s linear;

}
.main1:hover .color{
    background-color: rgba(0,0,0,0);
}
.icon{
    font-family: myfont;
    font-size: 32px;
    position: absolute;
    right: 30px;
    bottom: 30px;
    color: #565656;
    opacity: 0;
    -webkit-transition: all .3s linear;
}
.main1:hover .icon{
    opacity: 1;
}
.main1:hover .word{
    top: 60px;
    opacity: 0;
}
.word{
    font-size: 24px;
    letter-spacing: 2px;
}
.word span{
    font-size: 28px;
}
.main2{
    background: url("images/12.jpg") ;
}
.text{
    width: 270px;
    height: 120px;
    padding: 5px;
    border:5px solid white;
    margin-top: 20px;
    margin-left: 20px;
    -webkit-transition: all .3s linear;
}
.main2 .word{
    position: absolute;
    top: 40px;
    left: 40px;
    width: 270px;
}
.text p{
    margin-top: 20px;
    padding: 10px;
    opacity: 0;
    -webkit-transition: all .3s linear;
}
.main2:hover .text{
    margin-top: 160px;
}
.main2:hover .text p{
    opacity: 1;
}
.color2{
    position: absolute;
    top:0;
    left: 0;
    width: 322px;
    height: 322px;
    background-color: rgba(0,0,0,0);
    -webkit-transition: all .3s linear;
}
.main2:hover .color2{
    background-color: rgba(0,0,0,.2);
}

.main3{
    background: url("images/1.jpg");
}
.main3 .word{
    font-family: myfont;
    margin-top: 50px;
    margin-left: 60px;
    -webkit-transition: all .3s linear;
}
.main3:hover .word{
    margin-top: 30px;
}
.line{
    width: 270px;
    border-bottom: 5px solid white;
    margin-left: 30px;
    margin-top: 50px;
    opacity: 0;
    -webkit-transition: all .3s linear;
}
.main3:hover .line{
    opacity: 1;
    margin-top: 10px;
}
.word2{
 padding: 30px;
    text-align: right;
    margin-top: 130px;
    opacity: 0;
    -webkit-transition: all .3s linear;
}
.main3:hover .word2{
    margin-top: 120px;
    opacity: 1;
}
