* {
    margin: 0;
    padding: 0;
}

@font-face {
    src: url("font_7uaw8r5a5pyl23xr/iconfont.woff");
    font-family: myfont;
}
#top-weibu{
    position: absolute;
    bottom: 50px;
    left: 50%;
}
#top-weibu>a{
    color: white;
}
a {
    text-decoration: none;
}
a span{
    font-family: myfont;
}

ul li {
    list-style: none;
}

body {
    font-family: "Times New Roman";
}

header {
    position: relative;
    width: 1349px;
    height: 630px;
    overflow: hidden;
}

#dot {
    position: absolute;
    left: 50px;
    top: 220px;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: #b2b2b2;
    margin-bottom: 30px;
    -webkit-transform: rotate(45deg);
}
.dot.dot1{
    background-color: #ff5056;
}

.dot:hover {
    /*background-color: #e50000;*/
    cursor: pointer;
}

.alllist {
    position: relative;
}

.list {
    position: absolute;
    left: 0;
    top: 0;
    width: 1349px;
    height: 630px;
    overflow: hidden;
    color: white;
    display: none;
    /*background-color: transparent;*/
}

.list.list1 {
    display: block;
}

.text {
    width: 520px;
    height: 250px;
    /*border: 1px solid red;*/
    position: absolute;
    left: 200px;
    top: 200px;
}

.text p {
    font-size: 16px;

}

.text h3 {
    font-size: 50px;
    font-weight: 400;
    margin-top: 10px;
}

.text .little {
    margin-top: 10px;
}

.little .t-left {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid white;
    float: left;
    margin-right: 20px;
}

@-webkit-keyframes mymove {
    0% {
        margin-left: 0;

    }
    50% {
        margin-left:18px;
    }
    70% {
        margin-left:0;
    }
    100%{
        margin-left:-18px;
    }
}

.little:hover span{
    cursor: pointer;
    -webkit-animation: mymove 1s linear infinite forwards alternate;
}

.little p {
    font-size: 14px;
    line-height: 20px;
    font-style: italic;
}

nav {
    width: 1149px;
    height: 70px;
    padding: 0 100px;
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    -webkit-transition: all linear .2s;
}

nav:hover {
    color: rgba(52, 52, 52, 0.84);
    background-color: white;
}

nav:hover a {
    color: rgba(52, 52, 52, 0.84);
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

nav > div > ul > li {
    position: relative;
    height: 70px;
    line-height: 70px;
    float: left;
    margin-right: 50px;
    overflow: hidden;
    -webkit-transition: all linear .2s;
}

nav > div > ul > li:hover {
    overflow: visible;
}

nav > div > ul > li > a {
    color: white;
    font-style: italic;
}

nav > div > ul > li > a:hover {
    color: #e50000;
}
.menu3 {
    position: absolute;
    left: -217px;
    top: 70px;
    z-index: 2;
    width: 1149px;
    height: 500px;
    padding: 60px  100px 0 100px;
    background: url("images/expertise.jpg") no-repeat;
    background-size: 100%;
    color: white;

}
.menu3-left{
    font-style: italic;
    /*border-right:1px solid rgba(255,255,255,.5);*/
    width: 350px;
    float: left;
}
#img{
    float:left;
    height: 480px;
    overflow: hidden;
}
#img>img{
    margin-top: -720px;
}
.menu3-left h4{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    position: relative;
    /*border: 1px solid red;*/
    overflow: hidden;
}

.menu3-left h4:hover{
    overflow: visible;
}
.menu3-left h4:nth-of-type(1){
    margin-bottom: 40px;
    width: 250px;
    padding-right: 110px;
}
.menu3-left h4:nth-of-type(1) span{
    display: inline-block;
    border-bottom: 1px solid rgba(255,255,255,.5);
    width: 250px;
}
.menu3-left>ul>li{
    width: 360px;
    color: rgba(255,255,255,.5);
    font-size: 20px;
    line-height: 20px;
    height: 60px;
    -webkit-transition: all linear .3s;
    position: relative;
    overflow: hidden;
}
.menu3-left>ul>li span{
    display: inline-block;
    width: 250px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.menu3-left>ul>li:hover{
    color: rgba(255,255,255,1);
    cursor: pointer;
    overflow: visible;
}
.menu3-left>ul>li:hover span{
    border-bottom: 1px solid rgba(255,255,255,.5);
}
.onemenu{
    position: absolute;
    left:360px ;
    top:-260px;
    font-style: normal;
    width: 890px;
    height: 480px;
    padding-top:80px;
    color: white;
}
.onemenu>ul{
    width: 240px;
    /*border: 1px solid red;*/
    margin-left:20px;
    float: left;
}
.onemenu>ul:nth-of-type(1){
    margin-left:60px;
}
.onemenu>ul>li{
    margin-bottom: 30px;
    font-size: 18px;
    border-bottom: 1px solid rgba(255,255,255,0);

}
.onemenu>ul>li:hover{
    border-bottom: 1px solid rgba(255,255,255,.3);
}
.twomenu{
    top: -320px;
}
.threemenu{
    top: -380px;
}
.fourmenu{
    top: -440px;
}
.fivemenu{
    top: -500px;
}
.menu3-right{
    position: absolute;
    left:360px ;
    top:-60px;
    font-style: normal;
    /*border: 1px solid red;*/
    width: 890px;
    height: 480px;
    padding-top:80px;
}
.menu3-right>ul{
    float: left;
    margin-left: 100px;
    font-size: 18px;
    width: 160px;
}
.menu3-right>ul>li{
    line-height: 20px;
    border-bottom: 1px solid rgba(255,255,255,0);
    margin-bottom: 40px;
    -webkit-transition: all linear .3s;
}
.menu3-right.one{
    top: -260px;
}
.menu3-right>ul>li:hover{
    border-bottom: 1px solid rgba(255,255,255,.5);
}
.menu3-right>ul.zimenu li.opacity1{
   opacity: .5;
}
.menu3-right>ul.zimenu li.leftline a{
    color: white;
    margin-bottom: 40px;
    display: inline-block;
    border-bottom: 1px solid rgba(255,255,255,0);
    -webkit-transition: all linear .3s;
    width: 200px;
}
.menu3-right>ul.zimenu li.leftline a:hover{
    border-bottom: 1px solid rgba(255,255,255,.5);
}
.menu3-right>ul.zimenu li.leftline{
    border-left:1px solid rgba(255,255,255,.3);
    padding-left: 15px;
    height: 200px;
}
.menu3-right>ul.zimenu li.leftline:hover{
    border-bottom: 1px solid rgba(255,255,255,0);
}
.menu {
    position: absolute;
    left: -450px;
    top: 70px;
    z-index: 2;
    width: 1349px;
    height: 560px;
    background: url("images/perspective.jpg") no-repeat;
    color: white;
}


.menu-left {
    float: left;
    width: 200px;
    /*border:1px solid red;*/
    margin-left: 300px;
    margin-top: 100px;
}

.menu-left h3 {
    line-height: 35px;
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 400;
}

.menu-left .little {
    height: 50px;
    line-height: 50px;

}

.menu-left .little .t-right {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    float: left;

}

.menu-left .little .t-right:hover {
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    -webkit-transition: all linear .2s;
    cursor: pointer;
}

.menu-right {
    float: left;
    /*border: 1px solid red;*/
    margin-left: 100px;
    margin-top: 100px;
}

.menu-right > ul > li {
    width: 200px;
    line-height: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    font-style: italic;
    font-size: 18px;
    margin-bottom: 30px;
    -webkit-transition: all linear .2s;
}

.menu-right > ul > li:hover {
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    cursor: pointer;
}

.menu2 {
    position: absolute;
    left: -720px;
    top: 70px;
    z-index: 2;
    width: 1149px;
    height: 560px;
    padding: 100px 100px 0 100px;
    background: url("images/offices.jpg") no-repeat;
    color: white;
}

.menu2 > ul {
    width: 285px;
    float: left;
}

.menu2 > ul > li {
    line-height: 20px;
    margin-bottom: 32px;
}

.menu2 > ul > li > a {
    color: white;
    display: inline-block;
    -webkit-transition: all linear .2s;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.menu2 > ul > li > a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}
#search{
    font-family: myfont;
    font-size: 26px;
}
.news {
    width: 1349px;
    height: 90px;
    /*border: 1px solid red;*/
    padding: 30px 0;
}

.news-main {
    padding-left: 200px;
}

.news-main h3 {
    width: 150px;
    /*border:1px solid red;*/
    font-size: 40px;
    float: left;
    margin-right: 100px;
}

.blackword {
    width: 500px;
    /*border: 1px solid red;*/
    float: left;
}

.little .h-left {
    float: left;
    width: 420px;
    /*border: 1px solid red;*/
    font-size: 20px;
    font-style: normal;
    color: #4e4e4e;
    line-height: 25px;
}

.blackword > p {
    font-size: 12px;
    color: #a9a9a9;
    margin: 10px 0;

}

.blackword .little .t-left {
    border: 1px solid black;
    float: left;
}

.weAre {
    width: 1349px;
    height: 700px;
    background: url("images/arup_bim_model.png") no-repeat 950px 100px;
    background-size: 40%;
    background-color: rgb(233, 233, 233);
    overflow: hidden;
}

.weAre-main {
    padding-left: 200px;
}
.weAre-main-test {
    width: 700px;
    height: 400px;
    margin-top: 150px;
}
.weAre-main-test h2{
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 20px;
}

.weAre-main-test>.little>.t-left{
    border-color:black ;
}
.weAre-main-test>.little:hover .t-left{
    border-color:red ;
    color: transparent;
}
.weAre-main-test>.little:hover .t-right{
    color:red ;
}


.weWork {
    width: 1349px;
    height:500px;
    overflow: hidden;
    background: url("images/bridge(1).png") no-repeat -60px -100px;
}
.weWork-main-test{
    width: 500px;
    height: 300px;
    color: white;

}
.weWork-main-test>.little>.t-left{
    border-color: white;
}

.arup {
    width: 1347px;
    height: 70px;
    line-height: 100px;
    /*border: 1px solid red;*/
}

.arup > nav {
    position: relative;
}

.arup > nav > div > ul > li > h1 {
    color: #3c3c3c;
}

.arup > nav > .nav-left a {
    font-style: normal;
}

.arup > nav > div > ul > li > a {
    color: #3c3c3c;
}

footer {
    width: 949px;
    height: 50px;
    background-color: rgb(233, 233, 233);
    padding: 10px 200px;
}

footer p {
    font-size: 14px;
    color: #3c3c3c;
    line-height: 25px;
}

footer p span {
    color: #0f0f0f;

}

