.button-div{
    width: 100%;
}
.button-div button{
    background-color: #2199E9;
    color: white;
    border: none;
    width: 90%;
    outline: none;
    padding:3% 5%;
    margin: 5%;
    letter-spacing: 10px;
    font-size: 14px;
}